<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Dashboard </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="dashboard-content">
    <h1>Dashboard</h1>
    <p>Previous Completions.</p>
    
    <div class="start-run-card">
      <h2>START YOUR RUN</h2>
      <p>Enter Name to start</p>
      
      <ion-item class="name-input">
        <ion-input 
          [(ngModel)]="runnerName" 
          placeholder="Name ..."
          type="text">
        </ion-input>
      </ion-item>
      
      <ion-button 
        expand="block" 
        (click)="onStartRun()"
        class="start-button">
        Start
      </ion-button>
    </div>
    
    <div class="previous-runs">
    </div>
  </div>
</ion-content>